body{
    font-family: 'Open Sans','sans-serif'; 
    font-size: 18px;
    line-height: 22px;
    color:#121212;
    background-color: antiquewhite;
    padding: 0px;
    margin: 0px;
}

.main{
    width:100%;
    max-width: 980px;
    margin: 50px auto 80px;
    padding:  0 10px 10px 0;
}